<div class='row-fluid'>
  <div class='span4 well'>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@user) do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </p>
      <p class='new-user-type-js'>
        <%= f.label 'Are you a volunteer or organization?'%>
        <%= f.select :volunteer, [['Volunteer', 0], ['Organization', 1]], {:include_blank => "Select"}%>  
      </p>

      <div class='volunteer-form-js hide'>
        <%= f.fields_for :volunteer do |v| %>
          <p>
            <%= v.label :birthday %>
            <%= v.date_select :birthday, :start_year => Time.zone.today.year - 100, :end_year => Time.zone.today.year %>
          </p>
          <p>
          <%= v.fields_for :skills do |skill| %>
            <%= f.label :skills %>
            <%= skill.text_area :name, :placeholder => 'List any relevant skills you have separated by commas. For example: Spanish, babysitting, First Aid' %>
          <% end %>
        </p>
      <% end %>
      </div>
      <div class='organization-form-js hide'>
        <%= f.fields_for :organization do |o| %>
          <p>
            <%= o.label :website, 'Website URL' %>
            <%= o.text_field :website %>
          </p>
        <% end %>
      </div>


      <%= f.submit 'Sign Up'%>
    <% end %>
  </div>
</div>